.friendlist {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 400px;
  background-color: #fff;
  border: 1px solid;
  margin: 10px auto;
  box-shadow: 2px 5px;
}
.status {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 40px;
}
.avatar {
  border: 1px solid black;
  box-shadow: 1px 2px;
}
.name {
  font-weight: bold;
  font-size: 2rem;
}
